.answers-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 25vh;
    align-items: stretch;
}

.answers-container label {
    text-align: left;
}

.answers-container input {
    margin: 0 2vh;
}