
html {
    font-family: sans-serif;
}

.show-true {
    opacity: 1;
    color: #1b1b1b;
}

.show-false {
    opacity: 0;
    color: white;
}

/* Smartphones (portrait and landscape) -- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    body {
        overflow: hidden;
    }

    .title {
        position: absolute;
        width: 45vw;
        height: 18vh;
        border-radius: 5px;
        background: #f9f9f9;
        bottom: 2vh;
        left: 2vh;
        transition: 500ms opacity;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .title h1 {
        font-size: 2em;
        color: #1b1b1b;
        transition: 1s color;
        margin: 0;
    }

    .title h3 {
        color: #343434;
        font-size: 0.8em;
    }

    .select-css {
        display: block;
        width: 90vw;
        font-size: 16px;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    .options-overlay {
        position: absolute;
        top: 2vh;
        right: 2vh;

    }

    .information-overlay {
        position: absolute;
        width: 85vw;
        height: 20vh;
        border-radius: 5px;
        background: #f9f9f9;
        left: 1.8vh;
        bottom: 1vh;
        transition: 500ms all;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .information-overlay h1 {
        font-size: 0.95em;
        height: 35%;
        background: #f6f6f6;
        color: #3e3d3d;
        border-radius: 5px;
        margin: 0.2vh 0;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 480px) {

    body {
        overflow: hidden;
    }

    .title {
        position: absolute;
        width: 30vw;
        height: 20vh;
        border-radius: 5px;
        background: #f9f9f9;
        top: 1vh;
        left: 1vh;
        transition: 500ms opacity;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .title h1 {
        font-size: 3.5em;
        color: #1b1b1b;
        transition: 1s color;
        margin: 0;
    }

    .title h3 {
        color: #343434;
    }

    .select-css {
        display: block;
        width: 18vw;
        font-size: 16px;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    .options-overlay {
        position: absolute;
        top: 2vh;
        right: 2vh;

    }

    .information-overlay {
        position: absolute;
        width: 30vw;
        height: 20vh;
        border-radius: 5px;
        background: #f9f9f9;
        right: 1vh;
        bottom: 1vh;
        transition: 500ms opacity;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .information-overlay h1 {
        font-size: 1.23em;
        height: 35%;
        background: #f6f6f6;
        color: #3e3d3d;
        border-radius: 5px;
        margin: 2% 0;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}